* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

body {
  color: white;
  width: 100%;
  background-color: rgb(20, 20, 20);
}

#root {
  font-weight: 300;
  width: 100%;
  margin: 0 0;
  max-width: 1400px;
  background-color: rgb(49, 49, 49);
}

.topbar {
  width: 100%;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.topbar h1 {
  font-size: 25px;
}

.topbar > div {
  width: 33%;
}

.titlebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-icon {
  display: flex;
  justify-content: end;
}

.topbar > div > img {
  width: 30px;
  margin-right: 5px;
}

.recipe-item {
  width: 100%;
  padding: 12px;
}

.recipe-item:nth-child(even) {
  background-color:rgb(61, 61, 61);
}

.recipe-item > h1 {
  font-size: 25px;
}

.recipe-item > p {
  margin-top: 2px;
}